.elHeader {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
}

.el-card-div {
    height: 200px;
    display: flex;
}

.el-card-div-left {
    flex: 5;
    height: 100%;

}

.el-card-div-left-img{
    height: 100%;
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.el-card-div-left-text{
    height: 100%;
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.el-card-div-left-text>div{
    padding-left: 20px;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;


}








.el-card-div-right {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.el-card-div-right-btn{
    margin-left: 20px;
    color: #409EFF;
    cursor: pointer;

}
