<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge minimal-ui">
    <!-- WebApp全屏模式：-->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- 是针对一些老的不识别viewport的浏览器，列如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <title>国家电网</title>
    <link rel="stylesheet" href="../common/css/base.css">
    <link rel="stylesheet" href="../common/css/element.css">
    <!--[if IE]>
    <script src="../common/js/html5shiv.js"></script>
    <![endif]-->
    <style>

        .elHeader {
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 50px;
        }

        .main-title {
            padding-left: 2%;
            height: 80px;
        }

        .main-title-search {
            margin-top: 10px;
            margin-right: 50px;
        }

        .main-page {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            margin-bottom: 10px
        }

        .el-btn {
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .play-setTings {
            width: 100%;

        }

        .play-setTings-title {
            font-size: 16px;
            font-weight: bold;
        }

        .el-dialog {
            border-radius: 10px;
        }

        .changePXDiv {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;


        }

        .changePX {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #f0f0f0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            font-size: 20px;
            cursor: pointer;
            background-color: #67C23A;
            color: #FFFFFF;

        }

        .operationDiv {
            width: 300px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .wJVisible .el-radio__inner {
            width: 30px;
            height: 30px;
        }

        .wJVisible .el-radio__inner::after {
            width: 10px;
            height: 10px;
        }

    </style>


</head>

<body>


<div id="app">
    <el-container class="elContainer">
        <el-header class="elHeader" style="text-align: right; font-size: 12px">

            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item>游戏管理</el-breadcrumb-item>
                <el-breadcrumb-item>游戏数据统计</el-breadcrumb-item>
                <el-breadcrumb-item>赚电能游戏配置页面</el-breadcrumb-item>
            </el-breadcrumb>

        </el-header>

        <el-main>
            <el-tabs v-model="activeName" @tab-click="tabClick">
                <el-tab-pane label="玩法配置" name="first">
                    <div class="play-setTings">
                        <div class="play-setTings-title">
                            收获配置
                        </div>
                        <el-form ref="form1" label-width="150px" :model="ruleForm" :rules="rules">
                            <el-form-item label="成熟时间：" prop="csTimeType" required>
                                <el-radio v-model="ruleForm.csTimeType" label="1" border>全局</el-radio>
                                <el-radio v-model="ruleForm.csTimeType" label="2" border>定制</el-radio>
                            </el-form-item>
                            <el-form-item style="margin-top: 10px" prop="csTimes" v-if="ruleForm.csTimeType==='1'">
                                <el-input
                                        v-model="ruleForm.csTimes"
                                        style="width: 300px"
                                        placeholder="设定全局时间"></el-input>
                                <span>分</span>
                            </el-form-item>
                            <el-form-item style="margin-top: 10px" v-if="ruleForm.csTimeType==='2'">
                                <el-table
                                        :data="playTable1"
                                        :cell-style="{fontSize:'12px'}"
                                        border
                                        :height="270"
                                        highlight-current-row
                                        style="width: 30%">
                                    <el-table-column
                                            prop="text"
                                            align="center"
                                            label="任务">
                                    </el-table-column>
                                    <el-table-column
                                            align="center"
                                            label="收取时间（分）">
                                        <template slot-scope="scope">
                                            <el-input style="width:150px" v-model="scope.row.number"
                                                      placeholder="收取时间（分）"></el-input>
                                        </template>

                                    </el-table-column>
                                </el-table>
                            </el-form-item>


                        </el-form>
                    </div>
                    <div class="play-setTings">
                        <div class="play-setTings-title">
                            偷取配置
                        </div>
                        <el-form ref="form2" label-width="150px" :model="ruleForm" :rules="rules">
                            <el-form-item label="偷取电能上限">
                                <el-input v-model="ruleForm.TQSX" style="width: 300px"></el-input>
                                <div class="" style="color: #999999">为“空”则不限制</div>
                            </el-form-item>
                            <el-form-item label="偷取电能范围：" prop="DNFW">
                                <el-radio v-model="ruleForm.DNFW" label="1" border>全局</el-radio>
                                <el-radio v-model="ruleForm.DNFW" label="2" border>定制</el-radio>

                            </el-form-item>
                            <el-form-item style="margin-top: 10px" required v-if="ruleForm.DNFW==='1'">
                                <el-form-item prop="DNFWF" style="float:left">
                                    <el-input v-model="ruleForm.DNFWF" style="width: 140px"
                                              placeholder="最低"></el-input>
                                </el-form-item>

                                <span style="float:left;margin: 0 10px 0 10px">至</span>
                                <el-form-item prop="DNFWT" style="float:left">
                                    <el-input v-model="ruleForm.DNFWT" style="width: 140px"
                                              placeholder="最高"></el-input>
                                </el-form-item>

                            </el-form-item>
                            <el-form-item style="margin-top: 10px" required v-if="ruleForm.DNFW==='2'">
                                <el-table
                                        :data="playTable2"
                                        :cell-style="{fontSize:'12px'}"
                                        border
                                        :height="350"
                                        highlight-current-row
                                        style="width: 30%">
                                    <el-table-column
                                            prop="text"
                                            align="center"
                                            label="任务"
                                            width="150">
                                    </el-table-column>
                                    <el-table-column
                                            align="center"
                                            label="偷取电能范围">
                                        <el-table-column
                                                prop="numberF"
                                                align="center"
                                                label="最低">
                                            <template slot-scope="scope">
                                                <el-input v-model="scope.row.numberF" style="width: 80px"
                                                          placeholder="最低"></el-input>
                                            </template>
                                        </el-table-column>
                                        <el-table-column
                                                prop="numberT"
                                                align="center"
                                                label="最高">
                                            <template slot-scope="scope">
                                                <el-input v-model="scope.row.numberT" style="width: 80px"
                                                          placeholder="最高"></el-input>
                                            </template>
                                        </el-table-column>
                                    </el-table-column>
                                </el-table>
                            </el-form-item>
                        </el-form>
                    </div>
                    <div class="play-setTings">
                        <div class="play-setTings-title">
                            被偷取上限
                        </div>
                        <el-form ref="form3" label-width="150px" :model="ruleForm" :rules="rules">
                            <el-form-item label="被偷取上限：" prop="BTQSX">
                                <el-radio v-model="ruleForm.BTQSX" label="1" border>全局</el-radio>
                                <el-radio v-model="ruleForm.BTQSX" label="2" border>定制</el-radio>

                            </el-form-item>
                            <el-form-item style="margin-top: 10px" prop="BTQSXQJ" v-if="ruleForm.BTQSX==='1'">
                                <el-input v-model="ruleForm.BTQSXQJ" style="width: 300px"
                                          placeholder="全局被偷取上限"></el-input>
                                <div class="" style="color: #999999">每个任务可收获电能的偷取上限</div>
                            </el-form-item>
                            <el-form-item style="margin-top: 10px" required v-if="ruleForm.BTQSX==='2'">
                                <el-table
                                        :data="playTable3"
                                        :cell-style="{fontSize:'12px'}"
                                        border
                                        :height="300"
                                        highlight-current-row
                                        style="width: 30%">
                                    <el-table-column
                                            prop="text"
                                            align="center"
                                            label="任务">
                                    </el-table-column>
                                    <el-table-column
                                            prop="number"
                                            align="center"
                                            label="被偷取上限">
                                        <template slot-scope="scope">
                                            <el-input v-model="scope.row.number" style="width: 150px"
                                                      placeholder="被偷取上限"></el-input>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-form-item>
                        </el-form>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="任务管理" name="second">
                    <div class="main-table clearfix">
                        <el-table class="tb-edit"
                                  :data="tableRW"
                                  :header-cell-style="{background:'#f0f0f0'}"
                                  :cell-style="{fontSize:'12px'}"
                                  border
                                  :height="this.tableHeight"
                                  id="rebateSetTable"
                                  ref="moviesTable"
                                  highlight-current-row
                                  style="width: 98%;margin: auto">
                            <el-table-column
                                    prop="xuhao"
                                    label="序号"
                                    align="center"
                                    width="100">
                            </el-table-column>

                            <el-table-column
                                    prop="MONEY2"
                                    align="center"
                                    label="项目名称">
                            </el-table-column>

                            <el-table-column
                                    prop="MONEY"
                                    label="任务说明"
                                    align="center"
                                    width="250">
                            </el-table-column>
                            <el-table-column
                                    align="center"
                                    label="操作"
                                    width="200">
                                <template slot-scope="scope">
                                    <span @click="showRwPz(scope.row)"
                                          style="color: #409EFF;cursor: pointer">奖励配置</span>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>

                </el-tab-pane>
                <el-tab-pane label="宝箱配置" name="third">
                    <div class="main-table-top">
                        <el-form ref="form5" label-width="150px" :model="ruleForm" :rules="rules"
                                 style="width: 70%;margin: 0 auto">
                            <el-form-item label="宝箱兑换值：" prop="BXDHZ">
                                <el-input v-model="ruleForm.BXDHZ" style="width: 80%" placeholder="宝箱兑换值"></el-input>
                            </el-form-item>
                            <el-form-item label="兑换宝箱不足提示：" prop="DHBXBZTS">
                                <el-input v-model="ruleForm.DHBXBZTS"
                                          type="textarea"
                                          :rows="5"
                                          style="width: 80%" placeholder="兑换宝箱不足提示"></el-input>
                            </el-form-item>
                            <el-form-item label="关联任务">
                                <el-button type="primary" @click="showAddGL">添加任务</el-button>
                                <span style="color: #999999;margin-left: 10px">兑换宝箱积分不足时，关联任务设置</span>
                            </el-form-item>
                        </el-form>
                    </div>
                    <div class="main-table clearfix">
                        <el-table class="tb-edit"
                                  :data="tablesGL"
                                  :header-cell-style="{background:'#f0f0f0'}"
                                  :cell-style="{fontSize:'12px'}"
                                  border
                                  :height="300"
                                  id="rebateSetTable"
                                  ref="moviesTable"
                                  highlight-current-row
                                  style="width: 98%;margin: auto">
                            <el-table-column
                                    prop="xuhao"
                                    label="序号"
                                    align="center"
                                    width="100">
                            </el-table-column>
                            <el-table-column
                                    prop="MONEY2"
                                    align="center"
                                    label="任务名称">
                            </el-table-column>
                            <el-table-column
                                    prop="MONEY"
                                    label="任务类型"
                                    align="center"
                                    width="250">
                            </el-table-column>
                            <el-table-column
                                    align="center"
                                    label="操作"
                                    width="250">
                                <template slot-scope="scope">
                                    <span @click="showDeleteRW(scope.row)"
                                          style="color: #d93f30;cursor: pointer">删除</span>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>


                </el-tab-pane>
                <el-tab-pane label="捐赠管理" name="fourth">
                    <div class="main-title clearfix">
                        <label class="main-title-search fr">
                            <el-button type="primary" icon="el-icon-plus" @click="showAddXM">添加项目</el-button>
                        </label>
                    </div>
                    <div class="main-table clearfix">
                        <el-table class="tb-edit"
                                  :data="tables"
                                  :header-cell-style="{background:'#f0f0f0'}"
                                  :cell-style="{fontSize:'12px'}"
                                  border
                                  :height="this.tableHeight"
                                  id="rebateSetTable"
                                  ref="moviesTable"
                                  highlight-current-row
                                  style="width: 98%;margin: auto">
                            <el-table-column
                                    prop="xuhao"
                                    label="序号"
                                    align="center"
                                    width="100">
                            </el-table-column>

                            <el-table-column
                                    prop="MONEY2"
                                    align="center"
                                    label="项目名称">
                            </el-table-column>

                            <el-table-column
                                    prop="MONEY3"
                                    align="center"
                                    label="项目筹集目标"
                                    width="250">
                            </el-table-column>
                            <el-table-column
                                    prop="MONEY"
                                    label="项目起捐数量"
                                    align="center"
                                    width="250">
                            </el-table-column>
                            <el-table-column
                                    align="center"
                                    label="操作"
                                    width="200">
                                <template slot-scope="scope">
                                    <span @click="seeClickJZ(scope.row)"
                                          style="color: #409EFF;cursor: pointer;margin-right: 20px">查看</span>
                                    <span @click="editClickJZ(scope.row)"
                                          style="color: #409EFF;cursor: pointer;margin-right: 20px">编辑</span>
                                    <span @click="showDeleteJZ(scope.row)"
                                          style="color: #d93f30;cursor: pointer">删除</span>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                    <div class="main-page clearfix">
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-sizes="[10,50,100, 150,200,250,300]"
                                :page-size="mrPage"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="countSize">
                        </el-pagination>
                    </div>

                </el-tab-pane>
                <el-tab-pane label="问卷管理" name="fifth">
                    <div class="main-title clearfix">
                        <label class="main-title-search fr">
                            <el-button type="primary" icon="el-icon-plus" @click="showAddWD">添加问答</el-button>
                        </label>
                    </div>
                    <div class="main-table clearfix">
                        <el-table class="tb-edit"
                                  :data="tables"
                                  :header-cell-style="{background:'#f0f0f0',color:'rgba(0, 0, 0, 0.8)',height:'60px',border:'none',fontSize:'14px'}"
                                  :cell-style="{fontSize:'12px'}"
                                  border
                                  :height="this.tableHeight"
                                  id="rebateSetTable"
                                  ref="moviesTable"
                                  highlight-current-row
                                  style="width: 98%;margin: auto">
                            <el-table-column
                                    prop="xuhao"
                                    label="序号"
                                    align="center"
                                    width="100">
                            </el-table-column>

                            <el-table-column
                                    prop="MONEY2"
                                    align="center"
                                    label="题目标题">
                            </el-table-column>

                            <el-table-column
                                    prop="MONEY"
                                    label="题型"
                                    align="center"
                                    width="250">
                            </el-table-column>
                            <el-table-column
                                    align="center"
                                    label="操作"
                                    width="250">
                                <template slot-scope="scope">
                                    <span @click="seeClickWD(scope.row)"
                                          style="color: #409EFF;cursor: pointer;margin-right: 20px">查看</span>
                                    <span @click="editClickWD(scope.row)"
                                          style="color: #409EFF;cursor: pointer;margin-right: 20px">编辑</span>
                                    <span @click="showDeleteWD(scope.row)"
                                          style="color: #d93f30;cursor: pointer">删除</span>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                    <div class="main-page clearfix">
                        <el-pagination
                                @size-change="handleSizeChange2"
                                @current-change="handleCurrentChange2"
                                :current-page="currentPage2"
                                :page-sizes="[10,50,100, 150,200,250,300]"
                                :page-size="mrPage2"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="countSize2">
                        </el-pagination>
                    </div>
                </el-tab-pane>
            </el-tabs>

            <div class="el-btn" v-if="activeName==='first' || activeName==='third' ">
                <el-button type="primary" @click="doSave">保存</el-button>
                <el-button @click="doCancel">取 消</el-button>
            </div>
        </el-main>
    </el-container>

    <!-- 任务配置弹出框 -->
    <el-dialog title="任务配置" :visible.sync="rwVisible" width=40% :center="true" :close-on-click-modal="false"
               :show-close="true">
        <div class="" style="height: 200px">
            <el-form ref="form4" label-width="150px" :model="ruleForm" :rules="rules">
                <el-form-item label="任务名称：">
                    <div class="">签到</div>
                </el-form-item>
                <el-form-item label="任务奖励：" prop="RWJL">
                    <el-input v-model="ruleForm.RWJL" style="width: 150px"></el-input>
                    <span style="margin-left: 10px">电能值</span>
                </el-form-item>
            </el-form>

        </div>

        <span slot="footer" class="dialog-footer" style="margin-bottom: 50px">
            <el-button @click="doSavePz" type="primary">确定</el-button>
            <el-button @click="rwVisible = false">取消</el-button>
        </span>
    </el-dialog>

    <!-- 任务配置弹出框 -->
    <el-dialog title="任务选择" :visible.sync="addRwVisible" width=40% :center="true" :close-on-click-modal="false"
               :show-close="true">
        <div class="" style="height: 500px">
            <div class="main-title clearfix">
                <label class="main-title-search fl">
                    <el-input v-model="ruleForm.RWJL" style="width: 150px"></el-input>
                </label>
                <label class="main-title-search fl">
                    <el-button type="primary" icon="el-icon-plus" @click="showAddWD">查询</el-button>
                    <el-button icon="el-icon-plus" @click="showAddWD">重置</el-button>
                </label>
            </div>
            <div class="main-table clearfix">
                <el-table class="tb-edit"
                          :data="tables"
                          :header-cell-style="{background:'#f0f0f0'}"
                          :cell-style="{fontSize:'12px'}"
                          @select="selectList"
                          @select-all="selectAll"
                          @selection-change="selectionChange"
                          border
                          :height="350"
                          id="rebateSetTable"
                          ref="addTable"
                          highlight-current-row
                          style="width: 98%;margin: auto">
                    <el-table-column
                            type="selection"
                            align="center"
                            width="40">
                    </el-table-column>

                    <el-table-column
                            prop="MONEY2"
                            align="center"
                            label="任务名称">
                    </el-table-column>

                    <el-table-column
                            prop="MONEY"
                            label="任务说明"
                            align="center"
                            width="250">
                    </el-table-column>
                </el-table>
            </div>
            <div class="main-page clearfix">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[10,50,100, 150,200,250,300]"
                        :page-size="mrPage"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="countSize">
                </el-pagination>
            </div>

        </div>

        <span slot="footer" class="dialog-footer" style="margin-bottom: 50px">
            <el-button @click="doSavePzAdd" type="primary">确定</el-button>
            <el-button @click="addRwVisible = false">取消</el-button>
        </span>
    </el-dialog>


    <!-- 查看捐赠项目 -->
    <el-dialog title="查看捐赠项目" :visible.sync="seeJZVisible" width=40% :center="true" :close-on-click-modal="false"
               :show-close="true">
        <div class="" style="height: 200px">
            <el-form ref="form6" label-width="150px" :model="ruleForm" :rules="rules">
                <el-form-item label="选择项目：" prop="XZXM">
                    <el-input v-model="ruleForm.XZXM" style="width: 250px" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="起捐数量：" prop="QJSL">
                    <el-input v-model="ruleForm.QJSL" style="width: 250px" :disabled="true"></el-input>
                </el-form-item>
            </el-form>

        </div>
    </el-dialog>

    <!-- 新增捐赠项目 -->
    <el-dialog title="新增捐赠项目" :visible.sync="addJZVisible" width=40% :center="true" :close-on-click-modal="false"
               :show-close="true">
        <div class="" style="height: 200px">
            <el-form ref="form6" label-width="150px" :model="ruleForm" :rules="rules">
                <el-form-item label="选择项目：" prop="XZXM">
                    <el-select
                            style="width: 250px"
                            v-model="ruleForm.XZXM"
                            clearable
                            filterable
                            allow-create
                            default-first-option
                            placeholder="请选择类型">
                        <el-option
                                v-for="item in typesOptions"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="起捐数量：" prop="QJSL">
                    <el-input v-model="ruleForm.QJSL" style="width: 250px"></el-input>
                </el-form-item>
            </el-form>

        </div>

        <span slot="footer" class="dialog-footer" style="margin-bottom: 50px">
            <el-button @click="doAddJZ" type="primary">新增</el-button>
            <el-button @click="addJZVisible = false">取消</el-button>
        </span>
    </el-dialog>


    <!-- 编辑捐赠项目 -->
    <el-dialog title="编辑捐赠项目" :visible.sync="editJZVisible" width=40% :center="true" :close-on-click-modal="false"
               :show-close="true">
        <div class="" style="height: 200px">
            <el-form ref="form6" label-width="150px" :model="ruleForm" :rules="rules">
                <el-form-item label="选择项目：" prop="XZXM">
                    <el-select
                            style="width: 250px"
                            v-model="ruleForm.XZXM"
                            clearable
                            filterable
                            allow-create
                            disabled
                            default-first-option
                            placeholder="请选择类型">
                        <el-option
                                v-for="item in typesOptions"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="起捐数量：" prop="QJSL">
                    <el-input v-model="ruleForm.QJSL" style="width: 250px"></el-input>
                </el-form-item>
            </el-form>

        </div>

        <span slot="footer" class="dialog-footer" style="margin-bottom: 50px">
            <el-button @click="doEditJZ" type="primary">确定</el-button>
            <el-button @click="editJZVisible = false">取消</el-button>
        </span>
    </el-dialog>


    <!-- 查看问答 -->
    <el-dialog title="查看问答" :visible.sync="seeWJVisible" :fullscreen="true" :center="true" :close-on-click-modal="false"
               :show-close="true">
        <div class="wJVisible" style="overflow: auto" ref="WJVisible">
            <el-form ref="form7" label-width="150px" :model="ruleForm" :rules="rules">
                <el-form-item label="题目类型：" prop="subjectType">
                    <el-select
                            style="width: 80%"
                            v-model="ruleForm.subjectType"
                            clearable
                            filterable
                            allow-create
                            default-first-option
                            placeholder="请选择类型">
                        <el-option
                                v-for="item in typesOptions"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="题目标题：" prop="subjectBT">
                    <el-input v-model="ruleForm.subjectBT" style="width: 80%"></el-input>
                </el-form-item>
                <el-form-item label="题目备注：" prop="subjectBZ">
                    <el-input v-model="ruleForm.subjectBZ" style="width: 80%"></el-input>
                </el-form-item>
                <el-form-item label="题目详细描述：" prop="subjectXXMS">
                    <el-input v-model="ruleForm.subjectXXMS" style="width: 80%" type="textarea" :rows="10"></el-input>
                </el-form-item>
                <el-form-item label="选项内容：" prop="XXNR">
                    <div class="operationDiv">
                        <label>
                            <span>新增选项</span>
                            <span>:</span>
                            <el-button type="primary" icon="el-icon-plus" circle @click="addXX"></el-button>
                        </label>
                        <label style="margin-left: 50px">
                            <span>删除选项</span>
                            <span>:</span>
                            <el-button type="danger" icon="el-icon-minus" circle @click="deleteXX"></el-button>
                        </label>
                    </div>
                    <el-table
                            :data="ruleForm.XXNR"
                            :cell-style="{fontSize:'12px'}"
                            border
                            :height="500"
                            highlight-current-row
                            style="width: 80%">
                        <el-table-column
                                prop="text"
                                align="center"
                                label="选项内容">
                            <template slot-scope="scope">
                                <span style="margin-right: 10px;font-size: 20px;color: #F56C6C">{{scope.row.text}}</span>
                                <el-input style="width:300px" v-model="scope.row.NR"
                                          placeholder="选项内容，50个字以内"></el-input>
                            </template>
                        </el-table-column>
                        <el-table-column label="正确答案" align="center" width="80">
                            <template scope="scope">
                                <el-radio
                                        :label="scope.row.id"
                                        v-model="radio"
                                        @change.native="getTemplateRow(scope.$index,scope.row)">&nbsp
                                </el-radio>
                            </template>
                        </el-table-column>
                        <el-table-column
                                align="center"
                                label="答案注释">
                            <template slot-scope="scope">
                                <el-input style="width:300px"
                                          v-if="scope.row.ZQ==='1'"
                                          v-model="scope.row.ZS"
                                          placeholder="答案注释"></el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                align="center"
                                label="排序"
                                width="120">
                            <template slot-scope="scope">

                                <div class="changePXDiv">
                                    <div class="changePX" @click="changeBottom(scope.row)">
                                        <i class="el-icon-bottom"></i>
                                    </div>
                                    <div class="changePX" @click="changeTop(scope.row)">
                                        <i class="el-icon-top"></i>
                                    </div>
                                </div>

                            </template>
                        </el-table-column>
                    </el-table>
                </el-form-item>
            </el-form>

        </div>
    </el-dialog>

    <!-- 新增问答 -->
    <el-dialog title="新增问答" :visible.sync="addWJVisible" :center="true" :fullscreen="true" :close-on-click-modal="false"
               :show-close="true">
        <div class="wJVisible" style="overflow: auto" ref="WJVisible">
            <el-form ref="form7" label-width="150px" :model="ruleForm" :rules="rules">
                <el-form-item label="题目类型：" prop="subjectType">
                    <el-select
                            style="width: 80%"
                            v-model="ruleForm.subjectType"
                            clearable
                            filterable
                            allow-create
                            default-first-option
                            placeholder="请选择类型">
                        <el-option
                                v-for="item in typesOptions"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="题目标题：" prop="subjectBT">
                    <el-input v-model="ruleForm.subjectBT" style="width: 80%"></el-input>
                </el-form-item>
                <el-form-item label="题目备注：" prop="subjectBZ">
                    <el-input v-model="ruleForm.subjectBZ" style="width: 80%"></el-input>
                </el-form-item>
                <el-form-item label="题目详细描述：" prop="subjectXXMS">
                    <el-input v-model="ruleForm.subjectXXMS" style="width: 80%" type="textarea" :rows="10"></el-input>
                </el-form-item>
                <el-form-item label="选项内容：" prop="XXNR">
                    <div class="operationDiv">
                        <label>
                            <span>新增选项</span>
                            <span>:</span>
                            <el-button type="primary" icon="el-icon-plus" circle @click="addXX"></el-button>
                        </label>
                        <label style="margin-left: 50px">
                            <span>删除选项</span>
                            <span>:</span>
                            <el-button type="danger" icon="el-icon-minus" circle @click="deleteXX"></el-button>
                        </label>
                    </div>
                    <el-table
                            :data="ruleForm.XXNR"
                            :cell-style="{fontSize:'12px'}"
                            border
                            :height="500"
                            highlight-current-row
                            style="width: 80%">
                        <el-table-column
                                prop="text"
                                align="center"
                                label="选项内容">
                            <template slot-scope="scope">
                                <span style="margin-right: 10px;font-size: 20px;color: #F56C6C">{{scope.row.text}}</span>
                                <el-input style="width:300px" v-model="scope.row.NR"
                                          placeholder="选项内容，50个字以内"></el-input>
                            </template>
                        </el-table-column>
                        <el-table-column label="正确答案" align="center" width="80">
                            <template scope="scope">
                                <el-radio
                                        :label="scope.row.id"
                                        v-model="radio"
                                        @change.native="getTemplateRow(scope.$index,scope.row)">&nbsp
                                </el-radio>
                            </template>
                        </el-table-column>
                        <el-table-column
                                align="center"
                                label="答案注释">
                            <template slot-scope="scope">
                                <el-input style="width:300px"
                                          v-if="scope.row.ZQ==='1'"
                                          v-model="scope.row.ZS"
                                          placeholder="答案注释"></el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                align="center"
                                label="排序"
                                width="120">
                            <template slot-scope="scope">

                                <div class="changePXDiv">
                                    <div class="changePX" @click="changeBottom(scope.row)">
                                        <i class="el-icon-bottom"></i>
                                    </div>
                                    <div class="changePX" @click="changeTop(scope.row)">
                                        <i class="el-icon-top"></i>
                                    </div>
                                </div>

                            </template>
                        </el-table-column>
                    </el-table>
                </el-form-item>
            </el-form>

        </div>

        <span slot="footer" class="dialog-footer" style="margin-bottom: 50px">
            <el-button @click="doAddWD" type="primary">新增</el-button>
            <el-button @click="addWJVisible = false">取消</el-button>
        </span>
    </el-dialog>


    <!-- 编辑问答 -->
    <el-dialog title="编辑问答" :visible.sync="editWJVisible" :fullscreen="true" :center="true"
               :close-on-click-modal="false"
               :show-close="true">
        <div class="wJVisible" style="overflow: auto" ref="WJVisible">
            <el-form ref="form7" label-width="150px" :model="ruleForm" :rules="rules">
                <el-form-item label="题目类型：" prop="subjectType">
                    <el-select
                            style="width: 80%"
                            v-model="ruleForm.subjectType"
                            clearable
                            filterable
                            allow-create
                            default-first-option
                            placeholder="请选择类型">
                        <el-option
                                v-for="item in typesOptions"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="题目标题：" prop="subjectBT">
                    <el-input v-model="ruleForm.subjectBT" style="width: 80%"></el-input>
                </el-form-item>
                <el-form-item label="题目备注：" prop="subjectBZ">
                    <el-input v-model="ruleForm.subjectBZ" style="width: 80%"></el-input>
                </el-form-item>
                <el-form-item label="题目详细描述：" prop="subjectXXMS">
                    <el-input v-model="ruleForm.subjectXXMS" style="width: 80%" type="textarea" :rows="10"></el-input>
                </el-form-item>
                <el-form-item label="选项内容：" prop="XXNR">
                    <div class="operationDiv">
                        <label>
                            <span>新增选项</span>
                            <span>:</span>
                            <el-button type="primary" icon="el-icon-plus" circle @click="addXX"></el-button>
                        </label>
                        <label style="margin-left: 50px">
                            <span>删除选项</span>
                            <span>:</span>
                            <el-button type="danger" icon="el-icon-minus" circle @click="deleteXX"></el-button>
                        </label>
                    </div>
                    <el-table
                            :data="ruleForm.XXNR"
                            :cell-style="{fontSize:'12px'}"
                            border
                            :height="500"
                            highlight-current-row
                            style="width: 80%">
                        <el-table-column
                                prop="text"
                                align="center"
                                label="选项内容">
                            <template slot-scope="scope">
                                <span style="margin-right: 10px;font-size: 20px;color: #F56C6C">{{scope.row.text}}</span>
                                <el-input style="width:300px" v-model="scope.row.NR"
                                          placeholder="选项内容，50个字以内"></el-input>
                            </template>
                        </el-table-column>
                        <el-table-column label="正确答案" align="center" width="80">
                            <template scope="scope">
                                <el-radio
                                        :label="scope.row.id"
                                        v-model="radio"
                                        @change.native="getTemplateRow(scope.$index,scope.row)">&nbsp
                                </el-radio>
                            </template>
                        </el-table-column>
                        <el-table-column
                                align="center"
                                label="答案注释">
                            <template slot-scope="scope">
                                <el-input style="width:300px"
                                          v-if="scope.row.ZQ==='1'"
                                          v-model="scope.row.ZS"
                                          placeholder="答案注释"></el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                align="center"
                                label="排序"
                                width="120">
                            <template slot-scope="scope">

                                <div class="changePXDiv">
                                    <div class="changePX" @click="changeBottom(scope.row)">
                                        <i class="el-icon-bottom"></i>
                                    </div>
                                    <div class="changePX" @click="changeTop(scope.row)">
                                        <i class="el-icon-top"></i>
                                    </div>
                                </div>

                            </template>
                        </el-table-column>
                    </el-table>
                </el-form-item>
            </el-form>

        </div>

        <span slot="footer" class="dialog-footer" style="margin-bottom: 50px">
            <el-button @click="doEditWD" type="primary">确定</el-button>
            <el-button @click="editWJVisible = false">取消</el-button>
        </span>
    </el-dialog>


</div>


<script src="../common/js/vue.min.js"></script>
<script src="../common/js/element.js"></script>
<script src="../common/js/jquery-3.1.1.min.js"></script>
<script src="../common/js/utils.js"></script>
<script src="../common/js/config.js"></script>
<script src="../common/js/ajax2.js"></script>
<script src="../js/configurationPageSettings.js"></script>



</body>
</html>
