<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge minimal-ui">
    <!-- WebApp全屏模式：-->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- 是针对一些老的不识别viewport的浏览器，列如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <title>国家电网</title>
    <link rel="stylesheet" href="../common/css/base.css">
    <link rel="stylesheet" href="../common/css/element.css">
    <!--[if IE]>
    <script src="../common/js/html5shiv.js"></script>
    <![endif]-->

    <style>
        .elHeader {
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 50px;
        }

        .el-main-title {

            height: 80px;
            border-bottom: 1px solid #f0f0f0;
        }

        .el-main-content {
            width: 50%;
            margin: 0 auto;
            overflow: auto;

        }

        .el-main-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            margin-bottom: 10px
        }

    </style>


</head>

<body>


<div id="app">
    <el-container class="elContainer">
        <el-header class="elHeader" style="text-align: right; font-size: 12px">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item>游戏管理</el-breadcrumb-item>
                <el-breadcrumb-item>爱心项目管理</el-breadcrumb-item>
                <el-breadcrumb-item>创建或编辑爱心项目</el-breadcrumb-item>
            </el-breadcrumb>
        </el-header>
        <el-main>
            <div class="el-main-title">
                <el-steps :active="3" align-center>
                    <el-step title="项目基础信息"></el-step>
                    <el-step title="项目背景"></el-step>
                    <el-step title="项目成果进展"></el-step>
                </el-steps>
            </div>
            <div class="el-main-content" ref="elMainContent">
                <el-form ref="form" label-width="150px" :model="ruleForm" :rules="rules"
                         style="width: 100%;margin: 0 auto">
                    <el-form-item label="项目成果：" prop="JZCG">
                        <el-input v-model="ruleForm.JZCG" style="width: 100%" placeholder="项目成果"></el-input>
                    </el-form-item>

                    <el-form-item label="项目进展：" required>
                        <label>
                            <span>新增进展</span>
                            <span>:</span>
                            <el-button type="primary" icon="el-icon-plus" circle @click="addXX"></el-button>
                        </label>
                        <label style="margin-left: 50px">
                            <span>删除进展</span>
                            <span>:</span>
                            <el-button type="danger" icon="el-icon-minus" circle @click="deleteXX"></el-button>
                        </label>
                        <el-collapse accordion>
                            <el-collapse-item v-for="(item,index) in ruleForm.XMJZ" :key="index" :title="item.text">
                                <el-form-item label="进展标题：" required style="margin: 20px auto">
                                    <el-input v-model="ruleForm.XMJZ[index].JZBT" style="width: 100%;"
                                              placeholder="进展标题"></el-input>
                                </el-form-item>
                                <el-form-item label="里程碑时间：" required style="margin: 20px auto">
                                    <el-date-picker
                                            type="date"
                                            placeholder="里程碑时间"
                                            value-format="yyyy-MM-dd"
                                            v-model="ruleForm.XMJZ[index].date"
                                            style="width: 100%;">
                                    </el-date-picker>
                                </el-form-item>
                                <el-form-item label="进展内容：" required style="margin: 20px auto">
                                    <el-input v-model="ruleForm.XMJZ[index].JZNR"
                                              type="textarea"
                                              :rows="10"
                                              style="width: 100%"
                                              placeholder="进展内容"></el-input>
                                </el-form-item>
                            </el-collapse-item>
                        </el-collapse>
                    </el-form-item>
                </el-form>


            </div>

            <div class="el-main-btn">
                <el-button style="width:150px;margin-right: 20px" @click="lastStep">上一步</el-button>
                <el-button type="primary" style="width:150px" @click="doSave">保存</el-button>
            </div>
        </el-main>
    </el-container>
</div>


<script src="../common/js/vue.min.js"></script>
<script src="../common/js/element.js"></script>
<script src="../common/js/jquery-3.1.1.min.js"></script>
<script src="../js/createPage3.js"></script>


</body>
</html>
