<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge minimal-ui">
    <!-- WebApp全屏模式：-->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- 是针对一些老的不识别viewport的浏览器，列如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <title>国家电网</title>
    <link rel="stylesheet" href="../common/css/base.css">
    <link rel="stylesheet" href="../common/css/element.css">
    <!--[if IE]>
    <script src="../common/js/html5shiv.js"></script>
    <![endif]-->
    <style>

        .elHeader{
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 50px;
        }
        .main-title{
            padding-left: 2%;
            height: 80px;
        }

        .main-title-search{
            margin-top: 10px;
            margin-right: 50px;
        }

        .main-page {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            margin-bottom: 10px
        }

    </style>


</head>

<body>


<div id="app">
    <el-container class="elContainer">
        <el-header class="elHeader" style="text-align: right; font-size: 12px">

            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item>游戏管理</el-breadcrumb-item>
                <el-breadcrumb-item>游戏数据统计</el-breadcrumb-item>
            </el-breadcrumb>

        </el-header>

        <el-main>
            <el-tabs type="border-card">
                <el-tab-pane label="电能统计">
                    <div class="main-title clearfix">
                        <label class="main-title-search">
                            <span>用户</span>
                            <span>:</span>
                            <el-input v-model="userName" placeholder="请输入用户" style="width: 200px"></el-input>
                        </label>
                        <label class="main-title-search">
                            <span>类型</span>
                            <span>:</span>
                            <el-select
                                    style="width: 200px"
                                    v-model="types"
                                    clearable
                                    filterable
                                    allow-create
                                    default-first-option
                                    placeholder="请选择类型">
                                <el-option
                                        v-for="item in typesOptions"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </label>
                        <label class="main-title-search">
                            <span>创建时间</span>
                            <span>:</span>
                            <el-date-picker
                                    style="width: 250px"
                                    v-model="examineTime"
                                    type="daterange"
                                    start-placeholder="开始日期"
                                    end-placeholder="结束日期"
                                    value-format="yyyy-MM-dd">
                            </el-date-picker>
                        </label>
                        <label class="main-title-search">
                            <el-button  type="primary" icon="el-icon-search"  @click="searchUser">搜索</el-button>
                            <el-button  icon="el-icon-delete" @click="searchUser">重置</el-button>
                        </label>
                    </div>
                    <div class="main-table clearfix">
                        <el-table class="tb-edit"
                                  :data="tables"
                                  :header-cell-style="{background:'#f0f0f0',color:'rgba(0, 0, 0, 0.8)',height:'60px',border:'none',fontSize:'14px'}"
                                  :cell-style="{fontSize:'12px'}"
                                  border
                                  :height="this.tableHeight"
                                  id="rebateSetTable"
                                  ref="moviesTable"
                                  highlight-current-row
                                  style="width: 98%;margin: auto">
                            <el-table-column
                                    prop="xuhao"
                                    label="序号"
                                    align="center"
                                    width="150">
                            </el-table-column>
                            <el-table-column
                                    prop="MONEY"
                                    label="用户"
                                    align="center"
                                    width="250">
                            </el-table-column>

                            <el-table-column
                                    prop="MONEY3"
                                    align="center"
                                    label="类型"
                                    width="250">
                            </el-table-column>
                            <el-table-column
                                    prop="MONEY4"
                                    align="center"
                                    label="电能"
                                    width="250">
                            </el-table-column>
                            <el-table-column
                                    prop="MONEY2"
                                    align="center"
                                    label="创建时间">
                            </el-table-column>
                        </el-table>

                    </div>
                    <div class="main-page clearfix">
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-sizes="[10,50,100, 150,200,250,300]"
                                :page-size="mrPage"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="countSize">
                        </el-pagination>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="捐赠统计">
                    <div class="main-title clearfix">
                        <label class="main-title-search fr">
                            <el-input v-model="userName" placeholder="请输入项目名称" style="width: 300px"></el-input>
                            <el-button type="primary" icon="el-icon-search" @click="searchUser">搜索</el-button>
                        </label>
                    </div>
                    <div class="main-table clearfix">
                        <el-table class="tb-edit"
                                  :data="tables"
                                  :header-cell-style="{background:'#f0f0f0',color:'rgba(0, 0, 0, 0.8)',height:'60px',border:'none',fontSize:'14px'}"
                                  :cell-style="{fontSize:'12px'}"
                                  border
                                  :height="this.tableHeight"
                                  id="rebateSetTable"
                                  ref="moviesTable"
                                  highlight-current-row
                                  style="width: 98%;margin: auto">
                            <el-table-column
                                    prop="xuhao"
                                    label="序号"
                                    align="center"
                                    width="100">
                            </el-table-column>

                            <el-table-column
                                    prop="MONEY2"
                                    align="center"
                                    label="项目名称">
                            </el-table-column>

                            <el-table-column
                                    prop="MONEY3"
                                    align="center"
                                    label="捐赠人数"
                                    width="250">
                            </el-table-column>
                            <el-table-column
                                    prop="MONEY"
                                    label="捐赠数量"
                                    align="center"
                                    width="250">
                            </el-table-column>
                            <el-table-column
                                    align="center"
                                    label="操作"
                                    width="200">
                                <template slot-scope="scope">
                                    <span v-if="scope.row.CHECK_STATUS ===0" @click="editClick(scope.row)" style="color: #d93f30;cursor: pointer">行为记录</span>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                    <div class="main-page clearfix">
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-sizes="[10,50,100, 150,200,250,300]"
                                :page-size="mrPage"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="countSize">
                        </el-pagination>
                    </div>
                </el-tab-pane>
            </el-tabs>

        </el-main>
    </el-container>
</div>


<script src="../common/js/vue.min.js"></script>
<script src="../common/js/element.js"></script>
<script src="../common/js/jquery-3.1.1.min.js"></script>
<script src="../common/js/ajax2.js"></script>
<script src="../js/gameDataStatistics.js"></script>


</body>
</html>
